.Column {
	display: flex;
	flex-direction: column;
	flex: 1;
	gap: 1rem;
}

.Output {
	font-family: monospace;
}

.DataHeading {
	background-color: var(--colour-medium);
	border-radius: var(--default-border-radius) var(--default-border-radius) 0 0;
	font-weight: bold;
}

.DataHeading,
.Data {
	display: block;
	padding: 1rem;
}

.Data {
	background-color: var(--colour-light);
	border-radius: 0 0 var(--default-border-radius) var(--default-border-radius);
	line-height: 1.4;
	white-space: pre-wrap;
}
